[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ergm.sign"]
	path = ergm.sign
	url = https://github.com/mschalberger/ergm.sign.statnet
